/* Helvetica normal */
@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* Helvetica bold */
@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

